@font-face{
    font-family: Arial, Helvetica, sans-serif;
    src: url(font/Helvetica.ttf);
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: #1A1A1A;
    background-position: center;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Helvetica';
}
p{
    font-family: 'Helvetica';
}

.navbar{
    background-color: #bdde04;
    color: #1A1A1A ;
    font-family: 'Helvetica';
    font-size: 15pt;
    border: none;
}

.awal-text{
    color: #bdde04;
    font-size: 90pt;
    padding-top: 4rem;
}

.awal-text-1{
    color: #bdde04;
}

.awal{
    color: #bdde04;
   
}

.gambar{
    padding-top: 3rem;
   width: 30rem;
}

.about{
    color: #bdde04;
    padding-top:7.5rem ;
}

.about-isi{
    color: #bdde04;
    font-size: 17pt;
    line-height: 1.5;
}

.skills{
    color: #bdde04;
}

.skills-1{
    color: #bdde04;
}

.progress-bar{
    background-color: #bdde04;
}

.contact{
    color: #bdde04;
}

.card{
    background-color: transparent;
    color: #bdde04;
    border-color: transparent;
}

.card-img{
    width: 15rem;
}

.wa{
    padding-top: 2rem;
    width: 11rem;
}

.btn{
    color: #bdde04;
}

.btn:hover{
    color: #bdde04;
}

.footer{
    color:#bdde04;
}

@media (max-width:1000px){
    .awal-text{
        color: #bdde04;
        font-size: 50pt;
        padding-top: 3rem;
        font-weight: 400;
    }

    .awal-text-1{
        color: #bdde04;
        font-size: 30pt;
        font-weight: 350;
    }
    
    .awal{
        color: #bdde04;
       
    }
    .about{
        color: #bdde04;
        font-size: 50pt;
        padding-top:7.5rem;
        font-weight: 400;
    }
    
    .about-isi{
        color: #bdde04;
        font-size: 14pt;
        line-height: 1.5;
    }

    .skills{
        color: #bdde04;
        font-size: 50pt;
        font-weight: 400;
        padding-top: 6rem;
    }

    .skills-1{
        color: #bdde04;
        font-size: 15pt;
    }

    .contact{
        color: #bdde04;
        font-size: 50pt;
        font-weight: 400;
        padding-top: 6rem;
    }

    .card-title{
        color: #bdde04;
        font-size: 15pt;
    }
    

    
}

